nn_distance/*
logs*/
tmp/
*.zip
output*/
ckpts/
NOCS_attrs*/
data_lists*/
ShapeNetCore_NOCS/
train/
nocs_ckpts/
*/__pycache__/
ckpts*/
*train
SGPA_tools/nn_distance/
camera_full_depths
eval_logs/
eval_datas/
eval_datas
__pycache__/
train_datas/
